{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'BootstrapPostList/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="{% static 'BootstrapPostList/css/styles.css' %}" rel="stylesheet" />
        {% block styles %}{% endblock styles %}
        <link href="{% static 'BootstrapPostList/css/myStyles.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <div class="wrapper">
            <!-- Responsive navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="#!">news app</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">все посты</a></li>
                            <li class="nav-item"><a class="nav-link" href="/search">поиск</a></li>
                            <li class="nav-item"><a class="nav-link" href="/add">добавить пост</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/">admin</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-1">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            {% block page_preview %}{% endblock page_preview %}
                        </div>
                        <div class="col-lg-3">
                            <div class="text-muted my-1 flex-right-bottom user-info">
                            {% if username %}
                                <p class="my-md-1">Доброго дня, {{ username }}!</p>
                                <p class="flex-right-bottom my-md-1">ваш статус:
                                    {% if is_not_author %}
                                        читатель.
                                        <button class="btn btn-secondary py-0 my-md-1">
                                            <a class="text-decoration-none link-light" href="get_in_author_group">стать автором</a>
                                        </button>
                                        {% else %}
                                            автор!
                                    {% endif %}
                                </p>
                                <div class="navbar-dark">
                                    <div class="navbar-nav">
                                        <a class="nav-link p-0 mt-1 text-opacity-75" href="/accounts/logout">выйти</a>
                                    </div>
                                </div>
                            {% else %}
                                <p class="my-md-0">Кто ты, воин?</p>
                                <div class="navbar-dark">
                                    <div class="navbar-nav">
                                        <a class="nav-link" href="/accounts/login">войти</a>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Features section-->
            <div class="main">
                {% block default_content %}
                {% endblock default_content %}

                {% block content_pagination %}
                {% endblock content_pagination %}
            </div>

            <!-- Footer-->
            <footer class="py-3 bg-dark">
                <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Ant-on-git 2023</p></div>
            </footer>
        </div>
        <script src="{% static 'BootstrapPostList/js/MyScripts.js' %}"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
    </body>
</html>
