{% extends 'default.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  {{ post.title | censor }}
{% endblock title %}

{% block styles %}
    <link href="{% static 'BootstrapPost/css/styles.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block page_preview %}
  <div class="text-center my-4">-->
      <h1 class="display-6 fw-bold text-white mb-2">
          {{ post.title | censor }}
      </h1>
  </div>
{% endblock page_preview %}


{% block content %}
<!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">

                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Пост создан {{ post.datetime_create | date:'d M Y' }} в {{ post.datetime_create | date:'H:i' }}. Автор {{ post.author.user.username }}</div>
                            <!-- Post categories-->
                            {% for category in post.category.all %}
                                <div class="badge bg-secondary link-light">{{ category.name }}</div>
                            {% endfor %}

                        </header>
                        <!-- Post content-->
                        <section class="mb-1">

                            <p class="fs-5 mb-3" style="text-align: justify">{{ post.text | censor }}</p>

                        </section>
                        <!-- рейтинг -->
                        <div class="hstack mb-4 justify-content-end fs-5">
                            <div class="align-items-center justify-content-center px-2">
                                <button id="{{ post.pk }}_post-rating-down" class="fs-6 bg-danger link-light rating-button"><</button>
                                <span class="px-2 fw-bold">{{ post.rating }}</span>
                                <button  id="{{ post.pk }}_post-rating-up" class="fs-6 bg-success link-light rating-button">></button>
                            </div>
                        </div>
                    </article>
                    <!-- Comments section-->
                    {% if comments %}
                    <section class="mb-5">
                        <div class="card bg-black bg-opacity-10">
                            <div class="card-body" style="padding-bottom: 0">

                                    <!-- comment-->
                                    {% for comment in comments %}
                                    <div class="my-sm-2" style="margin-bottom: 0 !important; border-bottom: 1px solid white">
                                        <div class="d-flex mb-1">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">{{ comment.user.username }}</div>
                                                {{ comment.text | addSmile:5 | censor }}
                                            </div>
                                        </div>
                                        <!-- рейтинг -->
                                        <div class="hstack justify-content-end">
                                            <div class="align-items-center justify-content-center px-1">
                                                <button id="{{ comment.pk }}_comment-rating-down" class="fs-7 bg-danger link-light rating-button comment-rating"><</button>
                                                <span class="px-2 fw-bold">{{ comment.rating }}</span>
                                                <button  id="{{ comment.pk }}_comment-rating-up" class="fs-7 bg-success link-light rating-button comment-rating">></button>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                            </div>
                        </div>
                    </section>
                    {% endif %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-3">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Категории</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="list-inline mb-0">

                                        {% for category in categories %}
                                            <li class="list-inline-item"><a href="/news/search?category={{ category.name }}">{{ category.name }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}