{% extends 'default.html' %}
{% load custom_filters %}


{% block title %}
  поиск постов
{% endblock title %}


{% block page_preview %}
    <div class="text-center my-3">-->
      <h1 class="display-6 fw-bold text-white mb-2">
          поиск постов
      </h1>
      <p class="lead text-white-50 mb-4"></p>
    </div>
{% endblock page_preview %}


{% block default_content %}

    <div class="py-5 col-lg-5 mx-sm-auto">
            <div class="card mb-4">
                    <form method="get" class="card-body">
                        {% csrf_token %}
                        {% for field in filter.form %}
                            <div class="mb-4">
                                {{ field.label_tag }}&nbsp;&nbsp;&nbsp;{{ field }}
                            </div>
                        {% endfor %}
                        <div class="d-md-flex">
                            <input class="btn btn-primary mx-sm-auto px-md-5" type="submit" value="найти">
                        </div>
                    </form>
            </div>
    </div>

    <section class="py-0 border-bottom" id="features">
        <div class="container my-0">
            <div class="row gx-5">

                {% if postSearch %}
                    <div class="col-lg-12 mb-5">
                        <h2 class="h4 fw-bolder text-center">Найдено {{ filter.qs | postwordEnding }}:</h2>
                    </div>
                    {% for post in postSearch %}
                        <div class="col-lg-4 mb-5">
                            <h2 class="h4 fw-bolder">{{ post.title | censor }}</h2>
                            <p>{{ post.text | truncatechars:50 | censor }}</p>
                            <a class="text-decoration-none" href="{{ post.pk }}">
                                Подробнее
                                <i class="bi bi-arrow-right"></i>
                            </a>
                            <div>
                                {% if links %}
                                {% for link in links %}
                                    <a class="text-decoration-none {{ link.class }}" href="{{ post.pk }}{{ link.href }}">{{ link.text }}</a>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12 mb-5">
                        <h2 class="h4 fw-bolder text-center">Постов нет =(</h2>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock default_content %}

{% block content_pagination %}
    <!-- пагинация   -->

    {% if is_paginated and postSearch %}
    <div class="container px-5">
        <div class="gx-5 text-center pagination-lg fs-5 fw-bold">
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?{{ clean_get_request }}&page=1">первая</a>
                <a href="?{{ clean_get_request }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
            <!-- parametrs содержт get запрос без страницы - нужен для правильной работы пагинатора при фильтрациии-->
            <!-- Показываем только текущую страницу и сколько всего страниц -->
            <span>страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

             <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?{{ clean_get_request }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a href="?{{ clean_get_request }}&page={{ page_obj.paginator.num_pages }}">последняя</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endblock content_pagination %}